//
//CARD-SECTIONS--LAYOUT
//

div.grid section{
  background-color:rgba(green,.7);
  margin-bottom: 20px;
  @include mq($min:$tiny){//2 columns
    &.large-col,&.medium-col{
      grid-column-end: span 2;
    }
  }
  @include mq($min:$small){//3 columns
    &.large-col{
      grid-column-end: span 3;
    }
    &.medium-col{
      grid-column-end: span 2;
    }
  }
  div{
    width: 100%;
    img{
      width: 100%;
    }
  }
  p{
    width: 95%;
    margin: 2% 1% 0 3.5%;
  }
  h2{
    width: 95%;
    margin:2% 2.5% 5% 2.5%;//vertical margin must be added to the total
    //height of the child element h2.height() + h2.width()*7%/100

  }

}
