//
//CARD-SECTIONS--LAYOUT
//

div.grid section{
  margin-bottom: 20px;
  @include flexx(column,nowrap,flex-start);
  @include mq($min:$tiny){//2 columns
    &.large-col,&.medium-col{
      grid-column-end: span 2;
    }
  }
  @include mq($min:$small){//3 columns
    &.large-col{
      grid-column-end: span 3;
    }
    &.medium-col{
      grid-column-end: span 2;
    }
  }
  div{
    width: 100%;
    img{
      width: 100%;
    }
  }
  p{
    width: 95%;
    //margin: 2% 1% 0 3.5%;
    padding:px-to-em($card-p-font-size/2,$card-p-font-size)
          px-to-em($card-p-font-size/4,$card-p-font-size);
  }
  h2{
    width: 95%;
    text-align: center;
    padding:px-to-em($card-h2-font-size,$card-h2-font-size)
          px-to-em($card-h2-font-size,$card-h2-font-size);
  }

}
