//
//CONTAINER--LAYOUT
//

div.container{
  @include flexx(row,nowrap,center);
  width: 95%;
  margin:px-to-em(20px) 2.5% px-to-em(20px) 2.5%;
  @include mq($min:$small){
    width: 90%;
    margin:px-to-em(30px) 5% px-to-em(30px) 5%;
  }
  @include mq($min:$large){
    margin-top:15vh;
    width: 70%;
  }
}
