//
//CARD-SECTIONS--STYLES
//

div.grid section{
  background-color:getColor("scale-of-grey","white");
  box-shadow: 0 0 5px getColor("scale-of-grey","Nobel");

  p{
    @include mx_font-styles($primary-font,
                            px-to-em($card-p-font-size),
                            400,
                            uppercase,
                            none,
                            right,
                            1px,
                            getColor("scale-of-grey","Dusty Gray"));
      @include mq($min:$large){
        $card-p-font-size:10px;
        font-size:px-to-em($card-p-font-size);
      };

  }
  h2{
    @include mx_font-styles($primary-font,
                            px-to-em($card-h2-font-size),
                            bold,
                            none,
                            none,
                            left,
                            1px,
                            getColor("scale-of-grey","Tundora"));
    @include mq($min:$large){
      $card-h2-font-size:16px;
      font-size:px-to-em($card-h2-font-size);
    };
  }

}
