//
//HEADER/STYLES
//
body{
  background-color:getColor("scale-of-grey","Alabaster");
}
header{
  background-color:getColor("scale-of-grey","white");
  box-shadow: .1px 0 1px getColor("scale-of-grey","Nobel");
  //@import section
  //for large screens
    section{
      button{
        background-color: getColor("scale-of-grey","white");
        border:none;
      }
      a{
        @include mx_font_styles($logo-font,
                                px-to-em($logo-font-size),
                                bold,
                                uppercase,
                                none,
                                $color:getColor("scale-of-grey","Cod Grey"));
        background: black;
        color:white;

        @include mq($min:$small){
          $logo-font-size:48px;
          font-size:px-to-em($logo-font-size);
        }
        @include mq($min:$large){
          background: white;
          color:black;
          border: 1px solid getColor("scale-of-grey","Mercury");
          box-shadow: 0 0 1px getColor("scale-of-grey","Mercury");
          $logo-font-size:72px;
          font-size:px-to-em($logo-font-size);
        }
      }

    }
    //@import nav
    nav a{
        @include mx_font-styles($primary-font,
                                px-to-em(12px),
                                400,
                                uppercase,
                                none,
                                none,
                                2px,
                                getColor("scale-of-grey","Tundora"));
        @include mq($min:$large){
          font-size:14px;
        };

    }
    //@import footer
    footer{
      ul a{
        font-size:px-to-em(13px);
        color:getColor("scale-of-grey","Mine Shaft");
      }
      @include mq($min:$large){
        span{
          @include mx_font-styles($primary-font,
                                  px-to-em(12px),
                                  400,
                                  $text-align:center,
                                  $color:getColor("scale-of-grey","Dusty Gray"));
        }
      }
   }
}
